.header{
    background-color: mediumseagreen;
    display: flex;
    justify-content: space-between;
}

.titulo{
    color: navy;
    font-family: cursive;
    font-size: 2.25em;
}

.ht{
    background-color: rgb(113, 213, 226);
}

.titulo1{
    color: rgb(235, 232, 101);
    font-family: monospace;
    font-size: 3.5em;
    background-color: rgb(162, 92, 202);
    display: flex;
    justify-content: space-between;
}

.titulo2{
    font-size: 1.5em;
    color:rgb(52, 115, 197);
    background-color: rgb(221, 138, 138);
}

.titulo3{
    font-family: sans-serif;
    font-size: 1.25em;
    text-align: justify;
    color: black;
    background-color: rgb(52, 197, 129);
    justify-content: space-between;
}

.heart{
    color: sandybrown;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 10.5px;
}

h2,p{
    text-align: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:skyblue;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}

.titulo4{
    color: rgb(110, 183, 207);
    font-size: 1.35em;
    display: flex;
    background-color: rgb(107, 58, 81);
}

li a{
    font-size: 0.7em;
    color: white;
}